@import url('variables.css');
@import url('header.css');
@import url('main.css');
@import url('footer.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family-narrow), sans-serif;
    background-color: var(--color-blue-gray-soft);
    color: var(--color-dark-gray);
    line-height: 1.5;
    padding: 20px; 
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}